# Solana Cluster Configuration
SOLANA_NETWORK=devnet
SOLANA_RPC_URL=https://api.devnet.solana.com

# Public Client Configuration (Safe for Browser)
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_COLOPHON_PROGRAM_ID=7pPKsqAg9AFZzSEJbygpbqAVKGFgXpaN5AcqNKrwhCe2

# Server / Deployer Administrative Keys (NEVER exposed with NEXT_PUBLIC_)
# DEPLOYER_PRIVATE_KEY=
# PAYER_PRIVATE_KEY=
